version: '3.8'

services:
  web:
    build:
      dockerfile: deployment/Dockerfile
      target: deploy-app
    env_file:
      - ./deployment/docker.env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    volumes:
      - ./app:/app/app
  postgres:
    image: postgres:16.3-alpine
    restart: always
    env_file:
      - ./deployment/docker.env
    ports:
      - "5434:5432"
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
    driver: local
