name: CI/CD to Heroku

on:
  push:
    branches:
      - dev  # Triggers the workflow on push to the selected branch

jobs:
  code-validation:
    name: Code Validation
    secrets: inherit
    uses: './.github/workflows/ci_code_validation.yml'

  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Log in to Heroku Container Registry
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          echo $HEROKU_API_KEY | docker login --username=_ --password-stdin registry.heroku.com

      - name: Build and push Docker image to Heroku
        env:
          DB_DATABASE: ${{ secrets.DB_DATABASE }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_MAX_OVERFLOW: ${{ secrets.DB_MAX_OVERFLOW }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_POOL_SIZE: ${{ secrets.DB_POOL_SIZE }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          LOCATION_API_KEY: ${{ secrets.LOCATION_API_KEY }}
          LOCATION_BASE_URL: ${{ secrets.LOCATION_BASE_URL }}
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
          WEATHER_BASE_URL: ${{ secrets.WEATHER_BASE_URL }}
        run: |
          docker build -f deployment/Dockerfile --target app-base -t registry.heroku.com/weather-forecast-es/web .
          docker push registry.heroku.com/weather-forecast-es/web

      - name: Release app on Heroku
        env:
          DB_DATABASE: ${{ secrets.DB_DATABASE }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_MAX_OVERFLOW: ${{ secrets.DB_MAX_OVERFLOW }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_POOL_SIZE: ${{ secrets.DB_POOL_SIZE }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          LOCATION_API_KEY: ${{ secrets.LOCATION_API_KEY }}
          LOCATION_BASE_URL: ${{ secrets.LOCATION_BASE_URL }}
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
          WEATHER_BASE_URL: ${{ secrets.WEATHER_BASE_URL }}
        run: heroku container:release web --app weather-forecast-es

      - name: Run Alembic migrations (if using)
        env:
          DB_DATABASE: ${{ secrets.DB_DATABASE }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_MAX_OVERFLOW: ${{ secrets.DB_MAX_OVERFLOW }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_POOL_SIZE: ${{ secrets.DB_POOL_SIZE }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
        run: heroku run alembic upgrade head --app weather-forecast-es
